.main-column {
    width: 1024px;
    margin: auto;
    background-color: #eee;
}

.research {
    display: flex;
    /* border: 3px solid black; */
    justify-content: space-between;
    margin: 3px 0 3px 0;
    background-color: #fff;
}

.color-mark {
    width: 3px;
    background-color: #f86c6b;
}

.text {
    width: 700px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text p, .date-start, .date-finish {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;    
}

.duration {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;    
}
